# Dependencies
node_modules/
package-lock.json

# Next.js
.next/
out/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Editor files
.vscode/
*.swp
*.swo

# Misc
.DS_Store
*.log
*.env

# Google SERVICE_ACCOUNT_FILE
backend/brickwise-450120-69ac0aa13cfa.json